//////////////////////////////////////////////
// LOGO
.logo {
	height: 3.25rem;
}

//////////////////////////////////////////////
// SEARCH
.search {

	&__input {

	}

	&__butoon {

	}

	&__icon {
		width: 2rem;
		height: 2rem;
	}
}

//////////////////////////////////////////////
// USER NAVIGATION
.user-nav {

	&__icon-box {

	}

	&__icon {
		width: 2.25rem;
		height: 2.25rem;
	}

	&__notification {

	}

	&__user {

	}

	&__user-photo {
		border-radius: 50%;
		height: 3.75rem;
	}

	&__user-name {

	}
}
