{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {

    "block-closing-brace-empty-line-before": "never",

    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-named": "never",
    "color-no-hex": null,
    "color-no-invalid-hex": true,

    "font-family-name-quotes": "always-where-recommended",

    "font-weight-notation": [
      "numeric",
      {
        "ignore": [
          "relative"
        ]
      }
    ],

    "function-blacklist": null,
    "function-calc-no-unspaced-operator": true,
    "function-comma-newline-after": "always-multi-line",
    "function-comma-newline-before": "never-multi-line",
    "function-comma-space-after": "always",
    "function-comma-space-before": "never",
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-max-empty-lines": 0,
    "function-name-case": "lower",
    "function-parentheses-newline-inside": "never-multi-line",
    "function-parentheses-space-inside": "never",
    "function-url-quotes": "always",
    "function-whitelist": null,
    "function-whitespace-after": "always",

    "number-leading-zero": "never",
    "number-max-precision": 10,
    "number-no-trailing-zeros": true,

    "string-no-newline": true,
    "string-quotes": "single",

    "length-zero-no-unit": true,

    "time-min-milliseconds": [
      100,
      {
        "message": "Don't use times under 100ms. They are to short to perceive"
      }
    ],

    "unit-blacklist": null,
    "unit-case": "lower",
    "unit-no-unknown": true,
    "unit-whitelist": null,

    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true,

    "value-list-comma-newline-after": "always-multi-line",
    "value-list-comma-newline-before": "never-multi-line",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never",

    "custom-property-pattern": null,

    "shorthand-property-no-redundant-values": true,

    "property-blacklist": null,
    "property-case": "lower",
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": [
          "appearance"
        ]
      }
    ],
    "property-whitelist": null,

    "keyframe-declaration-no-important": true,

    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-colon-space-after": "always-single-line",
    "declaration-colon-space-before": "never",
    "declaration-no-important": null,

    "declaration-block-no-duplicate-properties": null,
    "declaration-block-no-shorthand-property-overrides": [
      true,
      {
        "message": "Shorthand property overrides related longhand property."
      }
    ],
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-newline-before": "never-multi-line",
    "declaration-block-semicolon-space-after": "always-single-line",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-trailing-semicolon": "always",

    "at-rule-empty-line-before": null,
    "at-rule-name-case": "lower",
    "at-rule-name-newline-after": null,
    "at-rule-name-space-after": "always",
    "at-rule-no-vendor-prefix": true,
    "at-rule-semicolon-newline-after": "always",

    "comment-empty-line-before": "always",
    "comment-whitespace-inside": "always",

    "indentation": "tab",
    "max-empty-lines": 1,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-eol-whitespace": true,
    "no-extra-semicolons": true,
    "no-missing-end-of-source-newline": true,

    "rule-empty-line-before": [
      "always",
      {
        "ignore": [
          "after-comment"
        ]
      }
    ],

    "order/properties-order": [
      "content",
      "box-sizing",
      "clear",
      "float",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "display",
      "flex",
      "flex-direction",
      "flex-flow",
      "flex-wrap",
      "flex-grow",
      "flex-shrink",
      "flex-basis",
      "align-self",
      "align-items",
      "align-content",
      "justify-content",
      "order",
      "grid",
      "grid-area",
      "grid-auto-columns",
      "grid-auto-flow",
      "grid-auto-rows",
      "grid-column",
      "grid-column-end",
      "grid-column-gap",
      "grid-column-start",
      "grid-gap",
      "grid-row",
      "grid-row-end",
      "grid-row-gap",
      "grid-row-start",
      "grid-template",
      "grid-template-areas",
      "grid-template-columns",
      "grid-template-rows",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "border",
      "border-radius",
      "border-style",
      "border-width",
      "border-color",
      "border-image",
      "border-image-outset",
      "border-image-repeat",
      "border-image-slice",
      "border-image-source",
      "border-image-width",
      "border-top",
      "border-top-color",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-top-style",
      "border-top-width",
      "border-right",
      "border-right-color",
      "border-right-style",
      "border-right-width",
      "border-bottom",
      "border-bottom-color",
      "border-bottom-left-radius",
      "border-bottom-right-radius",
      "border-bottom-style",
      "border-bottom-width",
      "border-left",
      "border-left-color",
      "border-left-style",
      "border-left-width",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "overflow",
      "overflow-x",
      "overflow-y",
      "clip",
      "font",
      "font-size",
      "font-weight",
      "line-height",
      "letter-spacing",
      "text-decoration",
      "text-transform",
      "text-align",
      "text-indent",
      "text-overflow",
      "hyphens",
      "white-space",
      "vertical-align",
      "color",
      "background",
      "background-attachment",
      "background-clip",
      "background-color",
      "background-image",
      "background-origin",
      "background-position",
      "background-position-x",
      "background-position-y",
      "background-repeat",
      "background-size",
      "opacity",
      "transition",
      "transition-property",
      "transition-duration",
      "transition-timing-function",
      "transition-delay",
      "transform",
      "backface-visibility",
      "perspective",
      "perspective-origin",
      "cursor",
      "pointer-events",
      "will-change"
    ]
  }
}
